<?xml version="1.0"?>
<launch>

  <!-- send arm urdf to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find cob3_defs)/ros/robots/cob3_torso.urdf.xacro'" />

  <!-- send parameters to parameter server -->
  <param name="CanDevice" value="15"/>
  <param name="CanBaudrate" value="500"/>
  <rosparam command="load" file="$(find powercube_chain)/ros/launch/torso.yaml"/>

  <!-- start powercube_chain -->
  <node pkg="powercube_chain" type="powercube_chain" name="powercube_chain" cwd="node" respawn="false" output="screen" >
    <remap from="command" to="torso_controller/command" />
    <remap from="state" to="torso_controller/state" />
  </node>

  <!-- start trajectory controller-->
  <node name="spawn_torso_controller" pkg="pr2_controller_manager" type="spawner" args="
    torso_controller
    " respawn="false" output="screen" />

  <group ns="torso_controller">
    <node name="joint_trajectory_action_node" pkg="joint_trajectory_action" type="joint_trajectory_action" />
  </group>

  <!-- start robot_state_publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />

</launch>
