<?xml version="1.0"?>
<launch>
	<rosparam ns="lookat_controller" file="$(find cob_lookat_controller)/config/lookat_controller.yaml" command="load" />
	
	<!-- start virutal driver -->
	<node ns="lookat_controller" name="lookat_driver" pkg="cob_lookat_controller" type="cob_lookat_driver_node" cwd="node" respawn="false" output="screen">
		<remap from="joint_states" to="/joint_states"/>
	</node>
	
</launch>
