<?xml version="1.0"?>
<launch>

  <!-- send parameters to parameter server -->
  <rosparam command="load" ns="head" file="$(find cob_camera_axis)/ros/launch/test.yaml"/>

  <!-- start powercube_chain -->
  <node pkg="cob_camera_axis" type="cob_camera_axis_test" name="camera_axis_test" ns="head" cwd="node" respawn="false" output="screen" />

</launch>
