<?xml version="1.0"?>
<launch>

	<arg name="sim" default="false" />

	<group ns="base_controller">

		<!-- upload parameters -->
		<param name="IniDirectory" value="$(find cob_base)/ros/bin/Platform/IniFiles/$(env ROBOT)/"/>
		<param name="PublishEffort" value="false"/>

		<!-- start underlying components - base_drive_chain -->
		<include file="$(find cob_base_drive_chain)/ros/launch/base_drive_chain.launch" >
			<arg name="sim" value="$(arg sim)"/>
		</include>

		<!-- start undercarriage ctrl -->
		<include file="$(find cob_undercarriage_ctrl)/ros/launch/undercarriage_ctrl.launch" />

	</group>

  	<!-- rostest integration -->
	<include file="$(find cob_base)/ros/launch/base.test" />

</launch>
