<?xml version="1.0"?>
<launch>

	<group ns="base_controller">

		<!-- upload parameters -->
		<param name="IniDirectory" value="$(find cob_base)/ros/bin/Platform/IniFiles/$(env ROBOT)/"/>
		<param name="PublishEffort" value="false"/>

		<!-- start underlying components - base_drive_chain + relayboard -->
		<!-- base_drive_chain.launch: establishes the ROS interface to the drives of COB. Has to be initialized via service base_driver/Init -->
		<include file="$(find cob_base_drive_chain)/ros/launch/base_drive_chain.launch" />
	
		<!-- start undercarriage ctrlr -->
		<include file="$(find cob_undercarriage_ctrl)/ros/launch/undercarriage_ctrl.launch" />

   	  	<!-- rostest integration -->
		<test test-name="test_init" pkg="cob_undercarriage_ctrl" type="initialization_test.py"/>

	</group>

</launch>
