<?xml version="1.0"?>
<launch>
  <node pkg="sick_s300" type="sick_s300" name="scanner_rear" respawn="false" output="screen" >
  <param name="port" type="string" value="/dev/ttyUSB1"/>
  <param name="baud" type="int" value="500000"/>
  <param name="inverted" type="bool" value="true"/>
  <param name="frame_id" type="string" value="/base_laser_rear"/>
  <remap from="scan" to="scan_rear"/>
  </node>
</launch>
