<?xml version="1.0"?>
<launch>

  <!-- start hokuyo node -->
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">

	<param name="calibrate_time" type="bool" value="false"/>
	<param name="frame_id" value="base_laser_top_link"/>
	<param name="min_ang" value="-2.0923497676849365"/>
	<param name="max_ang" value="2.0923497676849365"/>
  	<remap from="scan" to="scan_top"/>

  </node>
	<param name="hztest_top/topic" value="scan_top" />
        <param name="hztest_top/hz" value="10.0" />
        <param name="hztest_top/hzerror" value="0.5" />
        <param name="hztest_top/test_duration" value="5.0" />
        <test test-name="hztest_topscan" pkg="rostest" type="hztest" name="hztest_top" />
  
</launch>
