<?xml version="1.0"?>
<launch>
	<arg name="mode" default="update"/>
	<arg name="pkg_hardware_config"/>

	<node name="csv_proc" pkg="cob_voltage_control" type="time_volt.py" output="screen">
		<rosparam file="$(arg pkg_hardware_config)/robots/$(arg robot)/config/voltage_filter.yaml" command="load" />
		<param name="robot_name" value="$(arg robot)" />
		<param name="file_name" value="$(arg file)" />
		<param name="mode" value="$(arg mode)" />
	</node>

</launch>
