<?xml version="1.0"?>
<launch>
	<arg name="robot" default="cob3-3"/>
	<arg name="mode" default="consumer"/>

	<node name="volts_filt" pkg="cob_voltage_control" type="new_method.py" output="screen">
		<rosparam file="$(find cob_voltage_control)/ros/config/csv_processing.yaml" command="load" />
		<param name="robot_name" value="$(arg robot)" />
		<param name="mode" value="$(arg mode)" />
	</node>

</launch>
