<?xml version="1.0"?>
<launch>

	<!-- send parameters to parameter server -->
	<rosparam command="load" ns="scanner_front" file="$(find cob_sick_s300)/ros/launch/front_$(env ROBOT).yaml"/>

	<node pkg="cob_sick_s300" type="cob_sick_s300" name="scanner_front" respawn="false" output="screen" >
		<remap from="scan" to="scan_front_raw"/>
	</node>

	<node pkg="cob_sick_s300" type="cob_scan_filter" name="scanner_front_filter" respawn="false" output="screen" >
		<remap from="scan" to="scan_front_raw"/>
		<remap from="scan_filtered" to="scan_front"/>
	</node>

	<!-- include rostest -->
	<include file="$(find cob_sick_s300)/ros/launch/front.test" />

</launch>
