<?xml version="1.0"?>
<launch>

	<include file="$(find cob_camera_sensors)/ros/launch/right.launch" />
	<include file="$(find cob_camera_sensors)/ros/launch/left.launch" />

<!--	<include file="$(find cob_camera_sensors)/ros/launch/tof.launch" /> -->
	<include file="$(find brsu_kinect)/ros/launch/openni_kinect_node.launch" />

</launch>
