<?xml version="1.0"?>
<launch>

  <!-- start left camera -->
  <node pkg="cob_camera_sensors" type="tof_camera" name="tof_camera" ns="sr4000" cwd="node" respawn="false" output="screen">
	<param name="configuration_files" value="$(find cob_camera_sensors)/common/files/cob3-2/"/>
	<param name="camera_index" value="0"/>
	<param name="tof_camera_type" value="CAM_SWISSRANGER"/>
	<!-- The intrinsics of the color sensors are optimized to the following camera -->
	<param name="tof_camera_intrinsic_type" value="CAM_PROSILICA" />
	<param name="tof_camera_intrinsic_id" value="0" />
	<param name="filter_amplitude" value="true" />
	<param name="filter_tearoff" value="true" />
	<param name="lower_amplitude_threshold" value="500" />
	<param name="upper_amplitude_threshold" value="60000" />
	<param name="pi_half_fraction" value="8" />
  </node>

</launch>
