<?xml version="1.0"?>
<!--
Runs a Prosilica camera in streaming mode.

Change the ip_address to match your camera.
For help configuring your camera or determining its IP address, see
http://www.ros.org/wiki/prosilica_camera/Tutorials.

You can uncomment the viewer if you want to view the image stream.
-->

<launch>

	<include file="$(find cob_camera_sensors)/ros/launch/cob3-2_color_cameras.launch" />
	<include file="$(find cob_camera_sensors)/ros/launch/cob3-2_tof.launch" />

</launch>
