<?xml version="1.0"?>
<!--
Runs a Prosilica camera in streaming mode.

Change the ip_address to match your camera.
For help configuring your camera or determining its IP address, see
http://www.ros.org/wiki/prosilica_camera/Tutorials.

You can uncomment the viewer if you want to view the image stream.
-->

<launch>

  <!-- The camera node -->
  <node ns="camera/right" name="color_camera" pkg="prosilica_camera" type="prosilica_node" output="screen">
    <param name="ip_address" type="str" value="169.254.47.10"/>
    <param name="trigger_mode" type="str" value="streaming"/>
    <!--remap from="camera" to="" /-->
    <!--include file="$(find prosilica_camera)/cam_settings.xml"/-->
  </node>

  <node ns="camera/left" name="color_camera" pkg="prosilica_camera" type="prosilica_node" output="screen">
    <param name="ip_address" type="str" value="169.254.236.139"/>
    <param name="trigger_mode" type="str" value="streaming"/>
    <!--remap from="camera" to="" /-->
    <!--include file="$(find prosilica_camera)/cam_settings.xml"/-->
  </node>
    <!--
    Uncomment below if you want to view the image stream on a monochrome
    camera. (You will see the Bayer coded image on a color camera)

    You will have to run the following command first:
    $ rosmake image_view
    -->

  <!--
  <node pkg="image_view" type="image_view" respawn="false" name="prosilica_viewer_mono">
    <param name="autosize" type="bool" value="False" />
    <param name="window_name" type="str" value="'Prosilica Camera (Mono)'" />
    <remap from="image" to="prosilica/image_raw" />
  </node>
  -->

    <!--
    Uncomment below if you want to view the image stream on a color camera.

    You will have to run the following command first:
    $ rosmake image_view image_proc
    -->

 
  <node ns="camera/right" pkg="image_proc" type="image_proc" respawn="false" name="prosilica_image_proc" />
  <!--node pkg="image_view" type="image_view" respawn="false" name="prosilica_viewer_color">
    <param name="autosize" type="bool" value="False" />
    <param name="window_name" type="str" value="'Prosilica Camera (Color)'" />
    <remap from="image" to="prosilica/image_color" />
  </node-->
  
  <node ns="camera/left" pkg="image_proc" type="image_proc" respawn="false" name="prosilica_image_proc" />
  <!--node pkg="image_view" type="image_view" respawn="false" name="prosilica_viewer_color">
    <param name="autosize" type="bool" value="False" />
    <param name="window_name" type="str" value="'Prosilica Camera (Color)'" />
    <remap from="image" to="prosilica/image_color" />
  </node-->

</launch>
