<?xml version="1.0"?>
<launch>

	<!-- send parameters to parameter server -->
	<group ns="right">
		<param name="configuration_files" value="$(find cob_camera_sensors)/common/files/$(env ROBOT)/"/>
		<param name="camera_index" value="0"/>
		<!-- Specifies the used camera type -->
		<!-- CAM_AVTPIKE or CAM_PROSILICA -->
		<param name="color_camera_type" value="CAM_AVTPIKE" />
		<!-- The intrinsics of the color sensors are optimized to the following camera -->
		<param name="color_camera_intrinsic_type" value="CAM_AVTPIKE" />
		<param name="color_camera_intrinsic_id" value="1" />
	</group>

	<!-- start left camera -->
	<node pkg="cob_camera_sensors" type="color_camera" name="color_camera" ns="right" cwd="node" respawn="false" output="screen"/>

	<!-- start poller for left camera -->
	<node pkg="polled_camera" type="poller" name="poller" ns="right" respawn="false" output="log" args="3 camera:= output:="/>

</launch>
