<?xml version="1.0"?>
<launch>

  <!-- start tof camera viewer -->
  <node pkg="cob_camera_sensors" type="tof_camera_viewer" name="tof_camera_viewer" cwd="node" respawn="false" output="screen">
	<remap from="image_xyz" to="tof/image_xyz"/>
	<remap from="image_grey" to="tof/image_grey"/>
  </node>

</launch>
