<launch>

  <include file="$(find openni_camera_unstable)/launch_modular/include/openni_manager.launch"/>

  <include file="$(find openni_camera_unstable)/launch_modular/include/openni_driver.launch"/>

  <include file="$(find openni_camera_unstable)/launch_modular/include/openni_proc.launch"/>

</launch>
