<launch>

  <include file="$(find cob_camera_sensors)/ros/launch/kinect_record/include/openni_manager.launch"/>

  <include file="$(find cob_camera_sensors)/ros/launch/kinect_record/include/openni_play_bag.launch"/>

  <include file="$(find cob_camera_sensors)/ros/launch/kinect_record/include/openni_proc.launch"/>

  <!--node pkg="rviz" name="rviz" type="rviz"/-->

</launch>
