<?xml version="1.0"?>
<launch>

  <!-- send parameters to parameter server -->
  <param name="head_controller/CanIniFile" value="$(find cob_head_axis)/ros/bin/IniFiles/$(env ROBOT)_CanCtrlCamAxis.ini" />
  <rosparam command="load" ns="head_controller" file="$(find cob_head_axis)/ros/launch/$(env ROBOT).yaml"/>

  <!-- start camera axis -->
  <node pkg="cob_head_axis" type="cob_head_axis_node" name="camera_head_node" ns="head_controller" cwd="node" respawn="false" output="screen" />

</launch>
