<?xml version="1.0"?>
<launch>

  <!-- send arm urdf to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find cob_description)/ros/robots/cob3-1.urdf.xacro'" />

  <!-- send parameters to parameter server -->
  <rosparam command="load" ns="arm_controller" file="$(find cob_arm)/ros/launch/cob3-1.yaml"/>

  <!-- start powercube_chain -->
<!--  <node pkg="cob_powercube_chain" type="cob_powercube_chain_sim" name="cob_arm" ns="arm" cwd="node" respawn="false" output="screen" launch-prefix="/usr/bin/nemiver"/>-->
  <node pkg="cob_powercube_chain" type="cob_powercube_chain_sim" name="cob_arm" ns="arm_controller" cwd="node" respawn="false" output="screen"/>

  <!-- start ik_solver for arm -->
  <node pkg="cob_manipulator" type="cob_ik_solver_kdl" name="cob_ik_solver" ns="arm_controller" cwd="node" respawn="false" output="screen"/>

  <!-- start cartesian interface -->
  <node pkg="cob_manipulator" type="move_cart.py" name="move_cart" ns="arm_controller" cwd="node" respawn="false" output="screen"/>

  <!-- start robot_state_publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />

</launch>
