<?xml version="1.0"?>
<launch>

  <!-- send parameters to parameter server -->
  <rosparam command="load" ns="cob_pseudo_joint_state_publisher" file="$(find cob_pseudo_joint_state_publisher)/launch/$(env ROBOT)_joints.yaml"/>

  <!-- start jointstate_combined node -->
  <node pkg="cob_pseudo_joint_state_publisher" type="cob_pseudo_joint_state_publisher" name="cob_pseudo_joint_state_publisher_node" ns="cob_pseudo_joint_state_publisher" cwd="node" respawn="false" output="screen" />

</launch>
