#@firmwareVersion=Babbage
#@configuratorType=Low-Voltage Quick Start Wizard
#@generationDate=2018-09-28 15:07:10 UTC
#@generatedBy=Nate Wennyk

#
##############################################################################
# System Information
##############################################################################
#
# Configuration Name: Fraunhofer-Super_Caps
# Firmware Version: Babbage
# 
# Nuvation BMS: NUV300-BC-16
# 
# Battery Information:
# - Chemistry: Custom Super Cap
# - Capacity: 10Ah
# - Cells in series: 1
# - Thermistor type: NCP18XH103E03RB
# - Number of thermistors: 0
# 
# Contactor Assignments:
# - Coil 1: main-switch
# - Coil 2: none
# - Coil 3: none
# - Coil 4: none
# 
# General Purpose Output Assignments:
# - GPO 0: none
# - GPO 1: none
# - GPO 2: none
# - GPO 3: none
# 
# General Purpose Input Assignments:
# - GPI 0: none
# - GPI 1: none
# - GPI 2: none
# - GPI 3: none
#
##############################################################################
# NAMEPLATE PARAMETERS
##############################################################################
#
#
# Baseline capacity and cycle count
#
stack_soc.enabled                                   = 1
stack_soc.nominal_capacity                          = 10000
stack_soc.nominal_cycle_count                       = 0
#
# Empty and full thresholds for SOC
#
stack_soc.vfull                                     = 100000
stack_soc.vempty                                    = -100000
stack_soc.vfullavg                                  = 50025
stack_soc.vemptyavg                                 = 42050
stack_soc.ifull                                     = 50
#
##############################################################################
# STACK TOPOLOGY
##############################################################################
#
#
# Cell Inputs
#
cell[*].installed                                   = 0
#
# Thermistor Inputs
#
therm[*].installed                                  = 0
#
##############################################################################
# OPERATIONAL LIMITS - Cell Voltage
##############################################################################
#
#
# Cell Voltage Thresholds
#
stack_fault_cell_hi.thresh                          = 5000
stack_warn_cell_hi.thresh                           = 5000
stack_current_limit.voltage_cell_max                = 5000
stack_current_limit.voltage_cell_high               = 5000
stack_current_limit.voltage_cell_low                = -1
stack_current_limit.voltage_cell_min                = -1
stack_warn_cell_lo.thresh                           = -1
stack_fault_cell_lo.thresh                          = -1
stack_uvlo_cell_voltage.thresh                      = -1
#
# Trigger Hysteresis
#
stack_fault_cell_lo.time_hyst                       = 0
stack_fault_cell_lo.end_time_hyst                   = 0
stack_fault_cell_lo.latched                         = 1
stack_fault_cell_lo.disabled                        = 1
stack_fault_cell_hi.time_hyst                       = 0
stack_fault_cell_hi.end_time_hyst                   = 0
stack_fault_cell_hi.latched                         = 1
stack_fault_cell_hi.disabled                        = 1
stack_uvlo_cell_voltage.time_hyst                   = 0
stack_uvlo_cell_voltage.end_time_hyst               = 0
stack_uvlo_cell_voltage.latched                     = 1
stack_uvlo_cell_voltage.disabled                    = 1
stack_warn_cell_lo.time_hyst                        = 2000000
stack_warn_cell_lo.end_time_hyst                    = 2000000
stack_warn_cell_lo.latched                          = 0
stack_warn_cell_lo.disabled                         = 1
stack_warn_cell_hi.time_hyst                        = 2000000
stack_warn_cell_hi.end_time_hyst                    = 2000000
stack_warn_cell_hi.latched                          = 0
stack_warn_cell_hi.disabled                         = 1
#
##############################################################################
# OPERATIONAL LIMITS - Thermistor Temperature
##############################################################################
#
#
# Charge thresholds
#
stack_fault_charge_therm_hi.thresh                  = 150
stack_warn_charge_therm_hi.thresh                   = 150
stack_current_limit.temperature_charge_max          = 150
stack_current_limit.temperature_charge_high         = 150
stack_current_limit.temperature_charge_low          = -60
stack_current_limit.temperature_charge_min          = -60
stack_warn_charge_therm_lo.thresh                   = -60
stack_fault_charge_therm_lo.thresh                  = -60
#
# Discharge thresholds
#
stack_fault_discharge_therm_hi.thresh               = 150
stack_warn_discharge_therm_hi.thresh                = 150
stack_current_limit.temperature_discharge_max       = 150
stack_current_limit.temperature_discharge_high      = 150
stack_current_limit.temperature_discharge_low       = -60
stack_current_limit.temperature_discharge_min       = -60
stack_warn_discharge_therm_lo.thresh                = -60
stack_fault_discharge_therm_lo.thresh               = -60
#
# Trigger Hysteresis
#
stack_fault_charge_therm_lo.time_hyst               = 0
stack_fault_charge_therm_lo.end_time_hyst           = 0
stack_fault_charge_therm_lo.latched                 = 1
stack_fault_charge_therm_lo.disabled                = 1
stack_fault_charge_therm_hi.time_hyst               = 0
stack_fault_charge_therm_hi.end_time_hyst           = 0
stack_fault_charge_therm_hi.latched                 = 1
stack_fault_charge_therm_hi.disabled                = 1
stack_fault_discharge_therm_lo.time_hyst            = 0
stack_fault_discharge_therm_lo.end_time_hyst        = 0
stack_fault_discharge_therm_lo.latched              = 1
stack_fault_discharge_therm_lo.disabled             = 1
stack_fault_discharge_therm_hi.time_hyst            = 0
stack_fault_discharge_therm_hi.end_time_hyst        = 0
stack_fault_discharge_therm_hi.latched              = 1
stack_fault_discharge_therm_hi.disabled             = 1
stack_warn_charge_therm_lo.time_hyst                = 0
stack_warn_charge_therm_lo.end_time_hyst            = 2000000
stack_warn_charge_therm_lo.latched                  = 0
stack_warn_charge_therm_lo.disabled                 = 1
stack_warn_charge_therm_hi.time_hyst                = 0
stack_warn_charge_therm_hi.end_time_hyst            = 2000000
stack_warn_charge_therm_hi.latched                  = 0
stack_warn_charge_therm_hi.disabled                 = 1
stack_warn_discharge_therm_lo.time_hyst             = 0
stack_warn_discharge_therm_lo.end_time_hyst         = 2000000
stack_warn_discharge_therm_lo.latched               = 0
stack_warn_discharge_therm_lo.disabled              = 1
stack_warn_discharge_therm_hi.time_hyst             = 0
stack_warn_discharge_therm_hi.end_time_hyst         = 2000000
stack_warn_discharge_therm_hi.latched               = 0
stack_warn_discharge_therm_hi.disabled              = 1
#
##############################################################################
# OPERATIONAL LIMITS - BMS Module Temperature
##############################################################################
#
#
# BMS Module High Temperature Fault
#
sc_fault_ci_therm_hi.thresh                         = 150
sc_fault_ci_therm_hi.time_hyst                      = 0
sc_fault_ci_therm_hi.end_time_hyst                  = 0
sc_fault_ci_therm_hi.latched                        = 1
sc_fault_ci_therm_hi.disabled                       = 1
#
# BMS Module High Temperature Warning
#
sc_warn_ci_therm_hi.thresh                          = 150
sc_warn_ci_therm_hi.time_hyst                       = 0
sc_warn_ci_therm_hi.end_time_hyst                   = 2000000
sc_warn_ci_therm_hi.latched                         = 0
sc_warn_ci_therm_hi.disabled                        = 1
#
# BMS Module Low Temperature Warning
#
sc_warn_ci_therm_lo.thresh                          = -60
sc_warn_ci_therm_lo.time_hyst                       = 0
sc_warn_ci_therm_lo.end_time_hyst                   = 2000000
sc_warn_ci_therm_lo.latched                         = 0
sc_warn_ci_therm_lo.disabled                        = 1
#
# BMS Module Low Temperature Fault
#
sc_fault_ci_therm_lo.thresh                         = -60
sc_fault_ci_therm_lo.time_hyst                      = 0
sc_fault_ci_therm_lo.end_time_hyst                  = 0
sc_fault_ci_therm_lo.latched                        = 1
sc_fault_ci_therm_lo.disabled                       = 1
#
##############################################################################
# OPERATIONAL LIMITS - Stack Current
##############################################################################
#
stack_fault_current_hi.thresh                       = 20200
stack_warn_current_hi.thresh                        = 20100
stack_warn_current_lo.thresh                        = -20100
stack_fault_current_lo.thresh                       = -20200
#
# Trigger Hysteresis
#
stack_fault_current_lo.time_hyst                    = 1000000
stack_fault_current_lo.end_time_hyst                = 0
stack_fault_current_lo.latched                      = 1
stack_fault_current_lo.disabled                     = 0
stack_fault_current_hi.time_hyst                    = 1000000
stack_fault_current_hi.end_time_hyst                = 0
stack_fault_current_hi.latched                      = 1
stack_fault_current_hi.disabled                     = 0
stack_warn_current_lo.time_hyst                     = 0
stack_warn_current_lo.end_time_hyst                 = 2000000
stack_warn_current_lo.latched                       = 0
stack_warn_current_lo.disabled                      = 0
stack_warn_current_hi.time_hyst                     = 0
stack_warn_current_hi.end_time_hyst                 = 2000000
stack_warn_current_hi.latched                       = 0
stack_warn_current_hi.disabled                      = 0
#
##############################################################################
# OPERATIONAL LIMITS - Stack Voltage
##############################################################################
#
stack_fault_voltage_hi.thresh                       = 51050
stack_warn_voltage_hi.thresh                        = 50025
stack_current_limit.voltage_stack_max               = 50025
stack_current_limit.voltage_stack_high              = 50000
stack_current_limit.voltage_stack_low               = 42075
stack_current_limit.voltage_stack_min               = 42050
stack_warn_voltage_lo.thresh                        = 42050
stack_fault_voltage_lo.thresh                       = 36025
stack_uvlo_stack_voltage.thresh                     = 36000
#
# Trigger Hysteresis
#
stack_fault_voltage_lo.time_hyst                    = 0
stack_fault_voltage_lo.end_time_hyst                = 0
stack_fault_voltage_lo.latched                      = 1
stack_fault_voltage_lo.disabled                     = 0
stack_fault_voltage_hi.time_hyst                    = 0
stack_fault_voltage_hi.end_time_hyst                = 0
stack_fault_voltage_hi.latched                      = 1
stack_fault_voltage_hi.disabled                     = 0
stack_uvlo_stack_voltage.time_hyst                  = 0
stack_uvlo_stack_voltage.end_time_hyst              = 0
stack_uvlo_stack_voltage.latched                    = 1
stack_uvlo_stack_voltage.disabled                   = 0
stack_warn_voltage_hi.time_hyst                     = 2000000
stack_warn_voltage_hi.end_time_hyst                 = 2000000
stack_warn_voltage_hi.latched                       = 0
stack_warn_voltage_hi.disabled                      = 0
stack_warn_voltage_lo.time_hyst                     = 2000000
stack_warn_voltage_lo.end_time_hyst                 = 2000000
stack_warn_voltage_lo.latched                       = 0
stack_warn_voltage_lo.disabled                      = 0
#
# Mismatch between stack voltage and sum of cells
#
stack_fault_voltage_sum.thresh                      = 80000
stack_fault_voltage_sum.time_hyst                   = 2000000
stack_fault_voltage_sum.end_time_hyst               = 0
stack_fault_voltage_sum.latched                     = 1
stack_fault_voltage_sum.disabled                    = 1
#
##############################################################################
# OPERATIONAL LIMITS - External Controller Heartbeat
##############################################################################
#
sc_controller_wdt.period                            = 5000000
#
# Controller heartbeat trigger settings
#
sc_fault_controller_wdt.thresh                      = 1
sc_fault_controller_wdt.time_hyst                   = 0
sc_fault_controller_wdt.end_time_hyst               = 0
sc_fault_controller_wdt.latched                     = 1
sc_fault_controller_wdt.disabled                    = 1
sc_warn_controller_wdt.thresh                       = 1
sc_warn_controller_wdt.time_hyst                    = 0
sc_warn_controller_wdt.end_time_hyst                = 2000000
sc_warn_controller_wdt.latched                      = 0
sc_warn_controller_wdt.disabled                     = 1
#
##############################################################################
# CONTROL SETTINGS - Stack Switch Functions
##############################################################################
#
#
# No Precharge
#
stack_control.precharge_delay                       = 0
stack_control.precharge_max_current                 = 0
#
# Switching delays
#
stack_control.connect_delay                         = 1000000
stack_control.disconnect_delay                      = 1000000
#
# Default to disconnected at boot
#
stack_control.auto_connect                          = 1
#
##############################################################################
# CONTROL SETTINGS - Stack Current Limits
##############################################################################
#
#
# Operating currents
#
stack_current_limit.min_charge_current              = 12880
stack_current_limit.max_charge_current              = 15000
stack_current_limit.max_discharge_current           = 20000
#stack_current_limit.min_charge_current              = 50
#stack_current_limit.max_charge_current              = 10000
#stack_current_limit.max_discharge_current           = 10000
#
# Response parameters
#
stack_current_limit.attack_settling_time            = 5000000
stack_current_limit.decay_settling_time             = 50000000
stack_current_limit.nonlinear_rolloff               = 1
#
##############################################################################
# CONTROL SETTINGS - Passive Cell Balancing
##############################################################################
#
stack_cell_balancer.enabled                         = 0
stack_cell_balancer.min_enable_voltage              = 5000
stack_cell_balancer.voltage_delta                   = 5
stack_cell_balancer.max_enable_temperature          = 150
stack_cell_balancer.max_ci_enable_temperature       = 150
stack_cell_balancer.min_enable_current              = 15000
stack_cell_balancer.max_enable_current              = 15000
#
##############################################################################
# INPUT/OUTPUT ASSIGNMENT - Contactor Outputs
##############################################################################
#
#
# Contactor Coil 1
#
stack_contactor[0].installed                        = 1
stack_contactor[0].address_enabled                  = 1
stack_contactor[0].address                          = @stack_control.main_switch_state
stack_contactor[0].inverted                         = 0
stack_contactor[0].direction                        = 2
stack_contactor[0].delay                            = 50000
stack_contactor[0].feedback_enable                  = 0
#
# Contactor Coil 2
#
stack_contactor[1].address_enabled                  = 0
#
# Contactor Coil 3
#
stack_contactor[2].address_enabled                  = 0
#
# Contactor Coil 4
#
stack_contactor[3].address_enabled                  = 0
#
##############################################################################
# INPUT/OUTPUT ASSIGNMENT - Digital Outputs
##############################################################################
#
sc_gpo[0:3].address_enabled                         = 0
#
##############################################################################
# INPUT/OUTPUT ASSIGNMENT - Digital Inputs
##############################################################################
#
sc_gpi[0:3].address_enabled                         = 0
#
##############################################################################
# COMMUNICATION PROTOCOLS
##############################################################################
#
#
# Standard Nuvation BMS CAN Reports
#
sc_canbus_map[0].address                            = @sc_clock.seconds
sc_canbus_map[0].command                            = 0
sc_canbus_map[1].address                            = @stack_power.voltage
sc_canbus_map[1].command                            = 0
sc_canbus_map[2].address                            = @stack_power.current
sc_canbus_map[2].command                            = 0
sc_canbus_map[3].address                            = @stack_soc.soc
sc_canbus_map[3].command                            = 0
sc_canbus_map[4].address                            = @stack_soc.dod
sc_canbus_map[4].command                            = 0
sc_canbus_map[5].address                            = @stack_cell_stat.max
sc_canbus_map[5].command                            = 0
sc_canbus_map[6].address                            = @stack_cell_stat.min
sc_canbus_map[6].command                            = 0
sc_canbus_map[7].address                            = @stack_cell_stat.avg
sc_canbus_map[7].command                            = 0
sc_canbus_map[8].address                            = @stack_therm_stat.max
sc_canbus_map[8].command                            = 0
sc_canbus_map[9].address                            = @stack_therm_stat.min
sc_canbus_map[9].command                            = 0
sc_canbus_map[10].address                           = @stack_therm_stat.avg
sc_canbus_map[10].command                           = 0
sc_canbus_map[11].address                           = @stack_safety.safe
sc_canbus_map[11].command                           = 0
sc_canbus_map[12].address                           = @stack_safety.safetocharge
sc_canbus_map[12].command                           = 0
sc_canbus_map[13].address                           = @stack_safety.safetodischarge
sc_canbus_map[13].command                           = 0
sc_canbus_map[14].address                           = @stack_current_limit.charge_current_limit
sc_canbus_map[14].command                           = 0
sc_canbus_map[15].address                           = @stack_current_limit.charge_current_percent
sc_canbus_map[15].command                           = 0
sc_canbus_map[16].address                           = @stack_current_limit.discharge_current_limit
sc_canbus_map[16].command                           = 0
sc_canbus_map[17].address                           = @stack_current_limit.discharge_current_percent
sc_canbus_map[17].command                           = 0
sc_canbus_map[18].address                           = @stack_control.connection_state
sc_canbus_map[18].command                           = 0
#
# Standard Nuvation BMS CAN Commands
#
sc_canbus_map[19].address                           = @stack_safety.clear_faults
sc_canbus_map[19].command                           = 1
sc_canbus_map[20].address                           = @stack_control.requested_state
sc_canbus_map[20].command                           = 1
sc_canbus_map[21].address                           = @sc_controller_heartbeat.value
sc_canbus_map[21].command                           = 1
sc_canbus_map[22:63].address                        = 0
#
# First bulk CAN report block: cell voltages
#
sc_canbus_bulk_map[0].baseaddress                   = @cell.voltage
sc_canbus_bulk_map[0].baseenabledaddress            = @cell.installed
sc_canbus_bulk_map[0].offset                        = 5
sc_canbus_bulk_map[0].numtoread                     = 16
#
# Second bulk CAN report block: probe temperatures
#
sc_canbus_bulk_map[1].baseaddress                   = @therm.temperature
sc_canbus_bulk_map[1].baseenabledaddress            = @therm.installed
sc_canbus_bulk_map[1].offset                        = 3
sc_canbus_bulk_map[1].numtoread                     = 8
#
# Base address at 0x100 with a rate of 2hz
#
sc_canbus.base_can_address                          = 0x100
sc_canbus.report_interval                           = 500000
sc_canbus.report_msg_interval                       = 22727
sc_canbus.enabled                                   = 0
#
# RS-485 Modbus RTU Slave Address
#
sc_modbus_rtu.device_address                        = 1
#
##############################################################################
# MEASUREMENT CALIBRATION
##############################################################################
#
#
# Thermistor Calibration
#
stack_therm_poly.coeff0                             = 167.34
stack_therm_poly.coeff1                             = -358.1
stack_therm_poly.coeff2                             = 508.32
stack_therm_poly.coeff3                             = -424.73
stack_therm_poly.coeff4                             = 192.28
stack_therm_poly.coeff5                             = -43.929
stack_therm_poly.coeff6                             = 3.9041
#
# Stack Current Calibration
#
pi_afe_iadc.divider                                 = 1000000
pi_afe_iadc.multiplier                              = 6
#
# Charge/discharge status dead band
#
stack_charge_status.hold_current                    = 50
#
# Stack Voltage Calibration
#
pi_afe_vadc.multiplier                              = -1
pi_afe_vadc.divider                                 = 28436
#
##############################################################################
# INTERNAL BMS MODULE SETTINGS
#
# WARNING: DO NOT CHANGE unless you know what you are doing!
##############################################################################
#
#
# Module Selection
#
sc_linkbus.softwareid                               = 1
sc_linkbus.cicount                                  = 0
sc_linkbus.power_mode                               = 2
#
# AFE measurement sample rate
#
pi_afe_iadc.fsample                                 = 800
#
# Stack Current and Voltage sample rates
#
pi_afe.sample_period                                = 250000
pi_afe.wdt_period                                   = 5000000
pi_afe.rx_err_window                                = 5000000
pi_afe.tx_err_window                                = 5000000
pi_afe.enable                                       = 1
#
# LinkBus sample rates
#
sc_linkbus.scan_period                              = 0
sc_linkbus.wdtperiod                                = 9999999
sc_linkbus.balance_settle_period                    = 75000
sc_linkbus.cell_open_wire_period                    = -1
sc_linkbus.cell_voltage_lpf_bw                      = 1
#
# StackBus monitoring periods
#
sc_stackbus.rxwdtperiod                             = 2000000
sc_stackbus.txwdtperiod                             = 2000000
sc_stackbus.errratewindow                           = 5000000
#
# LinkBus fault triggers
#
sc_fault_linkbus_wdt.thresh                         = 1
sc_fault_linkbus_wdt.time_hyst                      = 0
sc_fault_linkbus_wdt.end_time_hyst                  = 0
sc_fault_linkbus_wdt.latched                        = 1
sc_fault_linkbus_wdt.disabled                       = 1
#
# StackBus fault triggers
#
sc_fault_stackbus_rxwdt.thresh                      = 1
sc_fault_stackbus_rxwdt.time_hyst                   = 0
sc_fault_stackbus_rxwdt.end_time_hyst               = 0
sc_fault_stackbus_rxwdt.latched                     = 1
sc_fault_stackbus_rxwdt.disabled                    = 0
sc_fault_stackbus_txwdt.thresh                      = 1
sc_fault_stackbus_txwdt.time_hyst                   = 0
sc_fault_stackbus_txwdt.end_time_hyst               = 0
sc_fault_stackbus_txwdt.latched                     = 1
sc_fault_stackbus_txwdt.disabled                    = 0
#
# PI AFE fault triggers
#
sc_fault_pi_afe_wdt.thresh                          = 1
sc_fault_pi_afe_wdt.time_hyst                       = 0
sc_fault_pi_afe_wdt.end_time_hyst                   = 0
sc_fault_pi_afe_wdt.latched                         = 1
sc_fault_pi_afe_wdt.disabled                        = 0
#
# Motor Operator fault triggers
#
stack_fault_breaker_conflict.thresh                 = 1
stack_fault_breaker_conflict.time_hyst              = 0
stack_fault_breaker_conflict.end_time_hyst          = 0
stack_fault_breaker_conflict.latched                = 1
stack_fault_breaker_conflict.disabled               = 1
stack_fault_breaker_tripped.thresh                  = 1
stack_fault_breaker_tripped.time_hyst               = 0
stack_fault_breaker_tripped.end_time_hyst           = 0
stack_fault_breaker_tripped.latched                 = 1
stack_fault_breaker_tripped.disabled                = 1
#
# Precharge timeout fault trigger
#
stack_fault_precharge_timeout.thresh                = 1
stack_fault_precharge_timeout.time_hyst             = 0
stack_fault_precharge_timeout.end_time_hyst         = 0
stack_fault_precharge_timeout.latched               = 1
stack_fault_precharge_timeout.disabled              = 1
#
# Firmware Mismatch Detect
#
sc_fault_fw_mismatch.thresh                         = 1
sc_fault_fw_mismatch.time_hyst                      = 0
sc_fault_fw_mismatch.end_time_hyst                  = 0
sc_fault_fw_mismatch.latched                        = 1
sc_fault_fw_mismatch.disabled                       = 0
#
# Fault pilot timing
#
stack_delayed_fault_state.thresh                    = 0
stack_delayed_fault_state.time_hyst                 = 100000
stack_delayed_fault_state.end_time_hyst             = 0
stack_delayed_fault_state.latched                   = 0
#
# Fault pilot output signal
#
sc_gpo_fault_pilot.address_enabled                  = 1
sc_gpo_fault_pilot.inverted                         = 0
sc_gpo_fault_pilot.address                          = @stack_delayed_fault_state.trig
#
# Interlock Fault
#
sc_fault_pi_interlock.thresh                        = 1
sc_fault_pi_interlock.time_hyst                     = 0
sc_fault_pi_interlock.end_time_hyst                 = 0
sc_fault_pi_interlock.latched                       = 1
sc_fault_pi_interlock.disabled                      = 1
#
# UVLO Shutdown
#
sc_gpo_shutdown.address                             = @stack_uvlo_combined.trig
sc_gpo_shutdown.address_enabled                     = 1
sc_gpo_shutdown.inverted                            = 1
#
# Contactor Coil Current Sense Failure
#
stack_fault_coil_fail.thresh                        = 1
stack_fault_coil_fail.time_hyst                     = 1000000
stack_fault_coil_fail.end_time_hyst                 = 0
stack_fault_coil_fail.latched                       = 1
stack_fault_coil_fail.disabled                      = 1
#
# Contactor Feedback Contact Failure
#
stack_fault_contactor_feedback_fail.thresh          = 1
stack_fault_contactor_feedback_fail.time_hyst       = 1000000
stack_fault_contactor_feedback_fail.end_time_hyst   = 0
stack_fault_contactor_feedback_fail.latched         = 1
stack_fault_contactor_feedback_fail.disabled        = 1
#
# Cell Open Wire Failure
#
stack_fault_cell_open_wire.thresh                   = 1
stack_fault_cell_open_wire.time_hyst                = 0
stack_fault_cell_open_wire.end_time_hyst            = 0
stack_fault_cell_open_wire.latched                  = 1
stack_fault_cell_open_wire.disabled                 = 1
