#@firmwareVersion=17.12
#@configuratorType=Low-Voltage Quick Start Wizard
#@generationDate=2018-09-27 15:27:18 UTC
#@generatedBy=Richard Bormann

#
##############################################################################
# System Information
##############################################################################
#
# Configuration Name: raw3-1-supercap
# 
# Nuvation BMS: NUV300-BC-16
# 
# Battery Information:
# - Chemistry: Generic 3.6V NMC
# - Capacity: 10Ah
# - Cells in series: 14
# - Number of thermistors: 2
# 
# Contactor Assignments:
# - Coil 1: main-switch
# - Coil 2: none
# - Coil 3: none
# - Coil 4: none
# 
# General Purpose Output Assignments:
# - GPO 0: Charge Enable Signal
# - GPO 1: Discharge Enable Signal
# - GPO 2: none
# - GPO 3: none
# 
# General Purpose Input Assignments:
# - GPI 0: Clear Faults
# - GPI 1: Connect Request
# - GPI 2: none
# - GPI 3: none
#
##############################################################################
# NAMEPLATE PARAMETERS
##############################################################################
#
#
# Baseline capacity and cycle count
#
stack_soc.enabled                                   = 1
stack_soc.nominal_capacity                          = 10000
stack_soc.nominal_cycle_count                       = 0
#
# Empty and full thresholds for SOC
#
stack_soc.vfull                                     = 4138
stack_soc.vempty                                    = 3110
stack_soc.vfullavg                                  = 4138
stack_soc.vemptyavg                                 = 3110
#
##############################################################################
# STACK TOPOLOGY
##############################################################################
#
#
# Cell Inputs
#
cell[*].installed                                   = 0
cell[0:6].installed=1
cell[8:14].installed=1
#
# Thermistor Inputs
#
therm[*].installed                                  = 0
therm[0:1:8:1].installed=1
#
##############################################################################
# OPERATIONAL LIMITS - Cell Voltage
##############################################################################
#
#
# Cell Voltage Thresholds
#
stack_fault_cell_hi.thresh                          = 4200
stack_warn_cell_hi.thresh                           = 4150
stack_current_limit.voltage_cell_max                = 4150
stack_current_limit.voltage_cell_high               = 3900
stack_current_limit.voltage_cell_low                = 3300
stack_current_limit.voltage_cell_min                = 3100
stack_warn_cell_lo.thresh                           = 3100
stack_fault_cell_lo.thresh                          = 3050
stack_uvlo_cell_voltage.thresh                      = 3000
#
# Trigger Hysteresis
#
stack_fault_cell_lo.time_hyst                       = 0
stack_fault_cell_lo.end_time_hyst                   = -1
stack_fault_cell_lo.latched                         = 1
stack_fault_cell_lo.disabled                        = 0
stack_fault_cell_hi.time_hyst                       = 0
stack_fault_cell_hi.end_time_hyst                   = -1
stack_fault_cell_hi.latched                         = 1
stack_fault_cell_hi.disabled                        = 0
stack_uvlo_cell_voltage.time_hyst                   = 0
stack_uvlo_cell_voltage.end_time_hyst               = -1
stack_uvlo_cell_voltage.latched                     = 1
stack_uvlo_cell_voltage.disabled                    = 0
stack_warn_cell_lo.time_hyst                        = 0
stack_warn_cell_lo.end_time_hyst                    = 0
stack_warn_cell_lo.latched                          = 0
stack_warn_cell_lo.disabled                         = 0
stack_warn_cell_hi.time_hyst                        = 0
stack_warn_cell_hi.end_time_hyst                    = 0
stack_warn_cell_hi.latched                          = 0
stack_warn_cell_hi.disabled                         = 0
#
##############################################################################
# OPERATIONAL LIMITS - Thermistor Temperature
##############################################################################
#
#
# Charge thresholds
#
stack_fault_charge_therm_hi.thresh                  = 50
stack_warn_charge_therm_hi.thresh                   = 40
stack_current_limit.temperature_charge_max          = 40
stack_current_limit.temperature_charge_high         = 30
stack_current_limit.temperature_charge_low          = 10
stack_current_limit.temperature_charge_min          = 5
stack_warn_charge_therm_lo.thresh                   = 5
stack_fault_charge_therm_lo.thresh                  = 0
#
# Discharge thresholds
#
stack_fault_discharge_therm_hi.thresh               = 50
stack_warn_discharge_therm_hi.thresh                = 40
stack_current_limit.temperature_discharge_max       = 40
stack_current_limit.temperature_discharge_high      = 30
stack_current_limit.temperature_discharge_low       = 10
stack_current_limit.temperature_discharge_min       = 5
stack_warn_discharge_therm_lo.thresh                = 5
stack_fault_discharge_therm_lo.thresh               = 0
#
# Trigger Hysteresis
#
stack_fault_charge_therm_lo.time_hyst               = 0
stack_fault_charge_therm_lo.end_time_hyst           = -1
stack_fault_charge_therm_lo.latched                 = 1
stack_fault_charge_therm_lo.disabled                = 0
stack_fault_charge_therm_hi.time_hyst               = 0
stack_fault_charge_therm_hi.end_time_hyst           = -1
stack_fault_charge_therm_hi.latched                 = 1
stack_fault_charge_therm_hi.disabled                = 0
stack_fault_discharge_therm_lo.time_hyst            = 0
stack_fault_discharge_therm_lo.end_time_hyst        = -1
stack_fault_discharge_therm_lo.latched              = 1
stack_fault_discharge_therm_lo.disabled             = 0
stack_fault_discharge_therm_hi.time_hyst            = 0
stack_fault_discharge_therm_hi.end_time_hyst        = -1
stack_fault_discharge_therm_hi.latched              = 1
stack_fault_discharge_therm_hi.disabled             = 0
stack_warn_charge_therm_lo.time_hyst                = 0
stack_warn_charge_therm_lo.end_time_hyst            = 0
stack_warn_charge_therm_lo.latched                  = 0
stack_warn_charge_therm_lo.disabled                 = 0
stack_warn_charge_therm_hi.time_hyst                = 0
stack_warn_charge_therm_hi.end_time_hyst            = 0
stack_warn_charge_therm_hi.latched                  = 0
stack_warn_charge_therm_hi.disabled                 = 0
stack_warn_discharge_therm_lo.time_hyst             = 0
stack_warn_discharge_therm_lo.end_time_hyst         = 0
stack_warn_discharge_therm_lo.latched               = 0
stack_warn_discharge_therm_lo.disabled              = 0
stack_warn_discharge_therm_hi.time_hyst             = 0
stack_warn_discharge_therm_hi.end_time_hyst         = 0
stack_warn_discharge_therm_hi.latched               = 0
stack_warn_discharge_therm_hi.disabled              = 0
#
##############################################################################
# OPERATIONAL LIMITS - BMS Module Temperature
##############################################################################
#
#
# BMS Module High Temperature Fault
#
sc_fault_ci_therm_hi.thresh                         = 60
sc_fault_ci_therm_hi.time_hyst                      = 0
sc_fault_ci_therm_hi.end_time_hyst                  = -1
sc_fault_ci_therm_hi.latched                        = 1
sc_fault_ci_therm_hi.disabled                       = 0
#
# BMS Module High Temperature Warning
#
sc_warn_ci_therm_hi.thresh                          = 55
sc_warn_ci_therm_hi.time_hyst                       = 0
sc_warn_ci_therm_hi.end_time_hyst                   = 0
sc_warn_ci_therm_hi.latched                         = 0
sc_warn_ci_therm_hi.disabled                        = 0
#
# BMS Module Low Temperature Warning
#
sc_warn_ci_therm_lo.thresh                          = -35
sc_warn_ci_therm_lo.time_hyst                       = 0
sc_warn_ci_therm_lo.end_time_hyst                   = 0
sc_warn_ci_therm_lo.latched                         = 0
sc_warn_ci_therm_lo.disabled                        = 0
#
# BMS Module Low Temperature Fault
#
sc_fault_ci_therm_lo.thresh                         = -40
sc_fault_ci_therm_lo.time_hyst                      = 0
sc_fault_ci_therm_lo.end_time_hyst                  = -1
sc_fault_ci_therm_lo.latched                        = 1
sc_fault_ci_therm_lo.disabled                       = 0
#
##############################################################################
# OPERATIONAL LIMITS - Stack Current
##############################################################################
#
stack_fault_current_hi.thresh                       = 15000
stack_warn_current_hi.thresh                        = 12500
stack_warn_current_lo.thresh                        = -12500
stack_fault_current_lo.thresh                       = -15000
#
# Trigger Hysteresis
#
stack_fault_current_lo.time_hyst                    = 1000000
stack_fault_current_lo.end_time_hyst                = -1
stack_fault_current_lo.latched                      = 1
stack_fault_current_lo.disabled                     = 0
stack_fault_current_hi.time_hyst                    = 1000000
stack_fault_current_hi.end_time_hyst                = -1
stack_fault_current_hi.latched                      = 1
stack_fault_current_hi.disabled                     = 0
stack_warn_current_lo.time_hyst                     = 0
stack_warn_current_lo.end_time_hyst                 = 0
stack_warn_current_lo.latched                       = 0
stack_warn_current_lo.disabled                      = 0
stack_warn_current_hi.time_hyst                     = 0
stack_warn_current_hi.end_time_hyst                 = 0
stack_warn_current_hi.latched                       = 0
stack_warn_current_hi.disabled                      = 0
#
##############################################################################
# OPERATIONAL LIMITS - Stack Voltage
##############################################################################
#
stack_fault_voltage_hi.thresh                       = 58800
stack_warn_voltage_hi.thresh                        = 58100
stack_current_limit.voltage_stack_max               = 58100
stack_current_limit.voltage_stack_high              = 54600
stack_current_limit.voltage_stack_low               = 46200
stack_current_limit.voltage_stack_min               = 43400
stack_warn_voltage_lo.thresh                        = 43400
stack_fault_voltage_lo.thresh                       = 42700
stack_uvlo_stack_voltage.thresh                     = 42000
#
# Trigger Hysteresis
#
stack_fault_voltage_lo.time_hyst                    = 0
stack_fault_voltage_lo.end_time_hyst                = -1
stack_fault_voltage_lo.latched                      = 1
stack_fault_voltage_lo.disabled                     = 0
stack_fault_voltage_hi.time_hyst                    = 0
stack_fault_voltage_hi.end_time_hyst                = -1
stack_fault_voltage_hi.latched                      = 1
stack_fault_voltage_hi.disabled                     = 0
stack_uvlo_stack_voltage.time_hyst                  = 0
stack_uvlo_stack_voltage.end_time_hyst              = -1
stack_uvlo_stack_voltage.latched                    = 1
stack_uvlo_stack_voltage.disabled                   = 0
stack_warn_voltage_hi.time_hyst                     = 0
stack_warn_voltage_hi.end_time_hyst                 = 0
stack_warn_voltage_hi.latched                       = 0
stack_warn_voltage_hi.disabled                      = 0
stack_warn_voltage_lo.time_hyst                     = 0
stack_warn_voltage_lo.end_time_hyst                 = 0
stack_warn_voltage_lo.latched                       = 0
stack_warn_voltage_lo.disabled                      = 0
#
# Mismatch between stack voltage and sum of cells
#
stack_fault_voltage_sum.thresh                      = 1162
stack_fault_voltage_sum.time_hyst                   = 2000000
stack_fault_voltage_sum.end_time_hyst               = -1
stack_fault_voltage_sum.latched                     = 1
stack_fault_voltage_sum.disabled                    = 0
#
##############################################################################
# OPERATIONAL LIMITS - External Controller Heartbeat
##############################################################################
#
sc_wdt.period                                       = 5000000
#
# Controller heartbeat trigger settings
#
sc_fault_wdt.thresh                                 = 0
sc_fault_wdt.time_hyst                              = -1
sc_fault_wdt.end_time_hyst                          = 0
sc_fault_wdt.latched                                = 0
sc_fault_wdt.disabled                               = 1
#
##############################################################################
# CONTROL SETTINGS - Stack Switch Functions
##############################################################################
#
#
# No Precharge
#
stack_control.precharge_delay                       = 0
stack_control.precharge_max_current                 = 0
#
# Switching delays
#
stack_control.connect_delay                         = 1000000
stack_control.disconnect_delay                      = 1000000
#
# Default to disconnected at boot
#
stack_control.requested_state                       = 0
#
##############################################################################
# CONTROL SETTINGS - Stack Current Limits
##############################################################################
#
#
# Operating currents
#
stack_current_limit.min_charge_current              = 80
stack_current_limit.max_charge_current              = 10000
stack_current_limit.max_discharge_current           = 10000
#
# Response times
#
stack_current_limit.attack_settling_time            = 5000000
stack_current_limit.decay_settling_time             = 50000000
#
##############################################################################
# CONTROL SETTINGS - Passive Cell Balancing
##############################################################################
#
stack_cell_balancer.enabled                         = 1
stack_cell_balancer.minenablevoltage                = 3900
stack_cell_balancer.voltagedelta                    = 5
stack_cell_balancer.maxenabletemperature            = 40
stack_cell_balancer.maxcienabletemperature          = 55
stack_cell_balancer.minenablecurrent                = -5000
stack_cell_balancer.maxenablecurrent                = 10
#
##############################################################################
# INPUT/OUTPUT ASSIGNMENT - Contactor Outputs
##############################################################################
#
#
# Contactor Coil 1
#
stack_contactor[0].enabled                          = 1
stack_contactor[0].address                          = @stack_control.main_switch_state
stack_contactor[0].inverted                         = 0
stack_contactor[0].direction                        = 2
stack_contactor[0].delay                            = 50000
#
# Contactor Coil 2
#
stack_contactor[1].enabled                          = 0
#
# Contactor Coil 3
#
stack_contactor[2].enabled                          = 0
#
# Contactor Coil 4
#
stack_contactor[3].enabled                          = 0
#
##############################################################################
# INPUT/OUTPUT ASSIGNMENT - Digital Outputs
##############################################################################
#
sc_gpo[0].address                                   = @stack_current_limit.charge_current_disable
sc_gpo[0].enabled                                   = 1
sc_gpo[0].inverted                                  = 0
sc_gpo[1].address                                   = @stack_current_limit.discharge_current_disable
sc_gpo[1].enabled                                   = 1
sc_gpo[1].inverted                                  = 0
sc_gpo[2:3].enabled                                 = 0
#
##############################################################################
# INPUT/OUTPUT ASSIGNMENT - Digital Inputs
##############################################################################
#
sc_gpi[0].address                                   = @stack_safety.clear_faults
sc_gpi[0].inverted                                  = 0
sc_gpi[0].rising_edge_triggered                     = 1
sc_gpi[0].enabled                                   = 1
sc_gpi[1].address                                   = @stack_control.requested_state
sc_gpi[1].inverted                                  = 0
sc_gpi[1].rising_edge_triggered                     = 1
sc_gpi[1].enabled                                   = 1
sc_gpi[2:3].enabled                                 = 0
#
##############################################################################
# COMMUNICATION PROTOCOLS
##############################################################################
#
#
# Standard Nuvation BMS CAN Reports
#
sc_canbus_rpt[0].address                            = @sc_clock.seconds
sc_canbus_rpt[1].address                            = @stack_power.voltage
sc_canbus_rpt[2].address                            = @stack_power.current
sc_canbus_rpt[3].address                            = @stack_soc.soc
sc_canbus_rpt[4].address                            = @stack_soc.dod
sc_canbus_rpt[5].address                            = @stack_cell_stat.max
sc_canbus_rpt[6].address                            = @stack_cell_stat.min
sc_canbus_rpt[7].address                            = @stack_cell_stat.avg
sc_canbus_rpt[8].address                            = @stack_therm_stat.max
sc_canbus_rpt[9].address                            = @stack_therm_stat.min
sc_canbus_rpt[10].address                           = @stack_therm_stat.avg
sc_canbus_rpt[11].address                           = @stack_safety.safe
sc_canbus_rpt[12].address                           = @stack_safety.safetocharge
sc_canbus_rpt[13].address                           = @stack_safety.safetodischarge
sc_canbus_rpt[14].address                           = @stack_current_limit.charge_current_limit
sc_canbus_rpt[15].address                           = @stack_current_limit.charge_current_percent
sc_canbus_rpt[16].address                           = @stack_current_limit.discharge_current_limit
sc_canbus_rpt[17].address                           = @stack_current_limit.discharge_current_percent
sc_canbus_rpt[18].address                           = @stack_control.connection_state
sc_canbus_rpt[19:63].address                        = 0
#
# First bulk CAN report block: cell voltages
#
sc_canbus_bulkrpt[0].baseaddress                    = @cell.voltage
sc_canbus_bulkrpt[0].baseenabledaddress             = @cell.installed
sc_canbus_bulkrpt[0].offset                         = 3
sc_canbus_bulkrpt[0].numtoread                      = 16
#
# Second bulk CAN report block: probe temperatures
#
sc_canbus_bulkrpt[1].baseaddress                    = @therm.temperature
sc_canbus_bulkrpt[1].baseenabledaddress             = @therm.installed
sc_canbus_bulkrpt[1].offset                         = 3
sc_canbus_bulkrpt[1].numtoread                      = 8
#
# Base address at 0x100 with a rate of 2hz
#
sc_canbus.basecanaddress                            = 0x100
sc_canbus.reportintervalus                          = 500000
sc_canbus.errratewindow                             = 30000000
sc_canbus.enabled                                   = 0
#
# RS-485 Modbus RTU Slave Address
#
sc_modbus_rtu.device_address                        = 1
#
##############################################################################
# MEASUREMENT CALIBRATION
##############################################################################
#
#
# Thermistor Calibration
#
stack_therm_poly.coeff0                             = 167.34
stack_therm_poly.coeff1                             = -358.1
stack_therm_poly.coeff2                             = 508.32
stack_therm_poly.coeff3                             = -424.73
stack_therm_poly.coeff4                             = 192.28
stack_therm_poly.coeff5                             = -43.929
stack_therm_poly.coeff6                             = 3.9041
#
# Stack Current Calibration
#
pi_afe_iadc.divider                                 = 1000000
pi_afe_iadc.multiplier                              = 56
#
# Charge/discharge status dead band
#
stack_charge_status.hold_current                    = 10
#
# Stack Voltage Calibration
#
pi_afe_vadc.multiplier                              = -1
pi_afe_vadc.divider                                 = 28436
#
##############################################################################
# INTERNAL BMS MODULE SETTINGS
#
# WARNING: DO NOT CHANGE unless you know what you are doing!
##############################################################################
#
#
# Battery Controller Selection
#
sc_linkbus.softwareid                               = 1
sc_linkbus.cicount                                  = 1
sc_linkbus.power_mode                               = 2
#
# AFE measurement sample rate
#
pi_afe_iadc.fsample                                 = 800
#
# Stack Current and Voltage sample rates
#
pi_afe.sample_period                                = 250000
pi_afe.wdt_period                                   = 5000000
pi_afe.rx_err_window                                = 5000000
pi_afe.tx_err_window                                = 5000000
pi_afe.enable                                       = 1
#
# LinkBus sample rates
#
sc_linkbus.scan_period                              = 1000000
sc_linkbus.wdtperiod                                = 2000000
sc_linkbus.balance_settle_period                    = 75000
sc_linkbus.cell_voltage_lpf_bw                      = 1
#
# StackBus monitoring periods
#
sc_stackbus.rxwdtperiod                             = 2000000
sc_stackbus.txwdtperiod                             = 2000000
sc_stackbus.errratewindow                           = 5000000
#
# LinkBus fault triggers
#
sc_fault_linkbus_wdt.thresh                         = 1
sc_fault_linkbus_wdt.time_hyst                      = 0
sc_fault_linkbus_wdt.end_time_hyst                  = -1
sc_fault_linkbus_wdt.latched                        = 1
sc_fault_linkbus_wdt.disabled                       = 0
#
# StackBus fault triggers
#
sc_fault_stackbus_rxwdt.thresh                      = 1
sc_fault_stackbus_rxwdt.time_hyst                   = 0
sc_fault_stackbus_rxwdt.end_time_hyst               = -1
sc_fault_stackbus_rxwdt.latched                     = 1
sc_fault_stackbus_rxwdt.disabled                    = 0
sc_fault_stackbus_txwdt.thresh                      = 1
sc_fault_stackbus_txwdt.time_hyst                   = 0
sc_fault_stackbus_txwdt.end_time_hyst               = -1
sc_fault_stackbus_txwdt.latched                     = 1
sc_fault_stackbus_txwdt.disabled                    = 0
#
# PI AFE fault triggers
#
sc_fault_pi_afe_rx.time_hyst                        = -1
sc_fault_pi_afe_rx.end_time_hyst                    = 0
sc_fault_pi_afe_rx.latched                          = 0
sc_fault_pi_afe_rx.disabled                         = 1
sc_fault_pi_afe_wdt.thresh                          = 1
sc_fault_pi_afe_wdt.time_hyst                       = 0
sc_fault_pi_afe_wdt.end_time_hyst                   = -1
sc_fault_pi_afe_wdt.latched                         = 1
sc_fault_pi_afe_wdt.disabled                        = 0
#
# Motor Operator fault triggers
#
sc_fault_motorized_switch_conflict.time_hyst        = -1
sc_fault_motorized_switch_conflict.end_time_hyst    = 0
sc_fault_motorized_switch_conflict.latched          = 0
sc_fault_motorized_switch_conflict.disabled         = 1
sc_fault_motorized_switch_tripped.time_hyst         = -1
sc_fault_motorized_switch_tripped.end_time_hyst     = 0
sc_fault_motorized_switch_tripped.latched           = 0
sc_fault_motorized_switch_tripped.disabled          = 1
#
# Precharge fault trigger
#
sc_fault_precharge.thresh                           = 1
sc_fault_precharge.time_hyst                        = 0
sc_fault_precharge.end_time_hyst                    = -1
sc_fault_precharge.latched                          = 1
sc_fault_precharge.disabled                         = 0
#
# Firmware Mismatch Detect
#
sc_fault_fw_mismatch.thresh                         = 1
sc_fault_fw_mismatch.time_hyst                      = 0
sc_fault_fw_mismatch.end_time_hyst                  = -1
sc_fault_fw_mismatch.latched                        = 1
sc_fault_fw_mismatch.disabled                       = 0
#
# Fault pilot timing
#
stack_delayed_fault_state.thresh                    = 0
stack_delayed_fault_state.time_hyst                 = 100000
stack_delayed_fault_state.end_time_hyst             = 0
stack_delayed_fault_state.latched                   = 0
#
# Fault pilot output signal
#
sc_gpo[4].enabled                                   = 1
sc_gpo[4].inverted                                  = 0
sc_gpo[4].address                                   = @stack_delayed_fault_state.trig
#
# Interlock Fault
#
sc_fault_pi_interlock.time_hyst                     = -1
sc_fault_pi_interlock.end_time_hyst                 = 0
sc_fault_pi_interlock.latched                       = 0
sc_fault_pi_interlock.disabled                      = 1
#
# UVLO Shutdown
#
sc_gpo[5].address                                   = @stack_uvlo_combined.trig
sc_gpo[5].enabled                                   = 1
sc_gpo[5].inverted                                  = 1
