<?xml version="1.0"?>
<launch>

  <!-- send arm urdf to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find cob_defs)/ros/robots/cob3.urdf.xacro'" />

  <!-- send parameters to parameter server -->
  <rosparam command="load" ns="torso" file="$(find cob_torso)/ros/launch/cob3-2.yaml"/>

  <!-- start powercube_chain -->
  <node pkg="cob_powercube_chain" type="cob_powercube_chain" name="cob_torso" ns="torso" cwd="node" respawn="false" output="screen" />

  <!-- start robot_state_publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />

</launch>
