<?xml version="1.0"?>

<launch>

	<!-- hztest /torso_controller/joint_trajectory_action/status -->
	<param name="hztest1/topic" value="/torso_controller/joint_trajectory_action/status" />
	<param name="hztest1/hz" value="1.0" />
	<param name="hztest1/hzerror" value="0.2" />
	<param name="hztest1/test_duration" value="5.0" />
	<test test-name="hztest_status" pkg="rostest" type="hztest" name="hztest1" />

</launch>
