<?xml version="1.0"?>
<launch>

  <!-- send parameters to parameter server -->
  <rosparam command="load" ns="tray" file="$(find cob_tray)/ros/launch/cob3-2.yaml"/>

  <!-- start powercube_chain -->
  <node pkg="cob_powercube_chain" type="cob_powercube_chain" ns="tray" name="tray_node" cwd="node" respawn="false" output="screen" />

</launch>
