<?xml version="1.0"?>
<launch>

  <!-- send parameters to parameter server -->
  <rosparam command="load" ns="tray_controller" file="$(find cob_tray)/ros/launch/test.yaml"/>

  <!-- start powercube_chain_test -->
  <node pkg="cob_powercube_chain" type="cob_powercube_chain_test" ns="tray_controller" name="tray_test" cwd="node" respawn="false" output="screen" />

</launch>
