<?xml version="1.0"?>

<launch>

	<!-- hztest /tray_controller/joint_trajectory_action/status -->
	<param name="hztest1/topic" value="/tray_controller/joint_trajectory_action/status" />
	<param name="hztest1/hz" value="1.0" />
	<param name="hztest1/hzerror" value="0.1" />
	<param name="hztest1/duration" value="5" />
	<test test-name="hztest_status" pkg="rostest" type="hztest" name="hztest1" />
	
</launch>
