<?xml version="1.0"?>
<launch>

  <!-- send parameters to parameter server -->
  <rosparam command="load" ns="tray_controller" file="$(find cob_tray)/ros/launch/$(env ROBOT).yaml"/>

  <!-- start powercube_chain -->
  <node pkg="cob_powercube_chain" type="cob_powercube_chain" ns="tray_controller" name="tray_node" cwd="node" respawn="false" output="screen" />

  <!-- include rostest -->
  <include file="$(find cob_tray)/ros/launch/tray.test" />

</launch>
