<?xml version="1.0"?>
<launch>

  <!-- start footprint observer node -->
  <node pkg="cob_footprint_observer" type="footprint_observer" name="footprint_observer" output="screen">
    <!-- load parameter file -->
    <rosparam file="$(find cob_footprint_observer)/config/footprint_observer_params.yaml" command="load" />
  </node>

</launch>
