<?xml version="1.0"?>
<launch>

  <!-- start cob_powercube_chain_action server -->
  <node pkg="cob_powercube_chain_action" type="cob_powercube_chain_action_server" name="cob_powercube_chain_action_server" respawn="false" output="screen" />

  <!-- start powercube_chain for torso-->
  <include file="$(find powercube_chain)/ros/launch/torso.launch"/>

</launch>
