<?xml version="1.0"?>
<!-- -*- mode: XML -*- -->

<launch>
  <node pkg="swissranger_camera" type="swissranger_camera" name="swissranger"	output="screen" respawn="false">
    <param name="camera_info_url" value="file:///$(find cob_camera_sensors)/ros/launch/desire/swissranger4000.yaml" />
    <param name="frame_id" value="head_cam3d_link" />
    <param name="auto_exposure" value="1" />
    <!--param name="amp_threshold" value="2000" /-->
    <!--param name="integration_time" value="50" />-->

	<!-- todo: remap point cloud output of swissranger to depth/points -->

    <remap from="swissranger/intensity/image_raw" to="rgb/image_mono"/>
    <remap from="swissranger/camera_info" to="camera_info"/>
  </node>
</launch>
