<?xml version="1.0"?>
<launch>

	<!-- start ik_solver for arm -->
	<node pkg="cob_manipulator" type="cob_ik_solver_kdl" name="cob_ik_solver" ns="arm_controller" cwd="node" respawn="false" output="screen"/>
	 <node pkg="pr2_arm_kinematics" type="pr2_arm_kinematics_node" name="cob3_arm_kinematics" output="screen">
	   <param name="tip_name" value="arm_7_link" />
	   <param name="root_name" value="base_link" />
	  </node>

	<!-- start cartesian interface -->
	<rosparam command="load" ns="arm_controller" file="$(find cob_arm)/ros/launch/$(env ROBOT).yaml"/>
	<!--<node pkg="cob_manipulator" type="move_cart.py" name="move_cart" ns="arm_controller" cwd="node" respawn="false" output="screen"/>-->


	
	<!-- include test file -->
	<include file="$(find cob_manipulator)/ros/test/mov_cart.test"/>

</launch>

