<?xml version="1.0"?>
<launch> 
	<!-- send parameters for collision checking for Care-O-bot 3 -->
	<rosparam command="load" ns="robot_description_collision" file="$(find cob_manipulator)/ros/config/collision_checks.yaml" />

	<!-- send parameters for multidof -->
	<rosparam command="load" ns="robot_description_planning" file="$(find cob_manipulator)/ros/config/multi_dof_joints.yaml" />

	<!-- send parameters needed for motion planning -->
	<rosparam command="load" ns="robot_description_planning" file="$(find cob_manipulator)/ros/config/planning_groups.yaml" />

</launch>
