<?xml version="1.0"?>
<launch>

  <!-- send parameters to parameter server -->
  <rosparam command="load" ns="cob_jointstate_combined" file="$(find cob_jointstate_combined)/launch/cob3.yaml"/>

  <!-- start powercube_chain -->
  <node pkg="cob_jointstate_combined" type="cob_jointstate_combined" name="cob_jointstate_combined" ns="cob_jointstate_combined" cwd="node" respawn="false" output="screen" />

</launch>
