<launch>

  #### PARAMETERS ###################################################################

  <arg name="camera" default="camera" />
  <arg name="manager" value="$(arg camera)_nodelet_manager" />
  <arg name="rgb_frame_id"   default="/$(arg camera)_rgb_optical_frame" />
  <arg name="depth_frame_id" default="/$(arg camera)_depth_optical_frame" />
  <arg name="device_id" default="#1" />
  <arg name="calibration_dir" default="/tmp" />
  <arg name="generic_cal_file" value="$(arg calibration_dir)/calibration_%s.yaml" />
  <arg name="rgb_calibration"   default="$(arg generic_cal_file)" />
  <arg name="depth_calibration" default="$(arg generic_cal_file)" />
  <arg name="rgb"              default="rgb" />
  <arg name="ir"               default="ir" />
  <arg name="depth"            default="depth" />
  <arg name="depth_registered" default="depth_registered" />
  <arg name="debug" default="false" />

  #### DEBUG ###################################################################

  <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <!-- Also globally disable bond heartbeat timeout in debug mode, so everything
       doesn't die when you hit a break point -->
  <param if="$(arg debug)" name="/bond_disable_heartbeat_timeout" value="true" />

  #### MANAGER ###################################################################

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager"
        output="screen" launch-prefix="$(arg launch_prefix)" />

</launch>
